data/flows.json
[{"id":"e6872236.0138","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2835254b.2c4432","type":"tab","label":"WIF encode","disabled":false,"info":""},{"id":"a20e4da9.6b8ed","type":"tab","label":"Seeds","disabled":false,"info":""},{"id":"b3243087.384bf","type":"inject","z":"e6872236.0138","name":"get env variable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TZ","payloadType":"env","x":350,"y":280,"wires":[["256d9114.52034e"]]},{"id":"256d9114.52034e","type":"debug","z":"e6872236.0138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"695cb129.2aff6","type":"inject","z":"e6872236.0138","name":"test bx","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"msg","x":290,"y":380,"wires":[["6dbe945b.2fb32c"]]},{"id":"6dbe945b.2fb32c","type":"exec","z":"e6872236.0138","command":"bx seed","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":380,"wires":[["256d9114.52034e","a306399c.244658"],[],[]]},{"id":"a306399c.244658","type":"exec","z":"e6872236.0138","command":"bx ec-new","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":380,"wires":[["256d9114.52034e"],[],[]]},{"id":"62dbf163.9a8c88","type":"comment","z":"2835254b.2c4432","name":"generate a seed via RNG or input manually","info":"","x":260,"y":100,"wires":[]},{"id":"49d792e0.dd4e94","type":"inject","z":"2835254b.2c4432","name":"manual seed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"manual_seed","payload":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa","payloadType":"str","x":330,"y":180,"wires":[["f06ff6ca.715cf8"]]},{"id":"a2c96174.a4f39","type":"exec","z":"2835254b.2c4432","command":"bx seed","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RNG","x":310,"y":280,"wires":[["f06ff6ca.715cf8"],[],[]]},{"id":"f06ff6ca.715cf8","type":"exec","z":"2835254b.2c4432","command":"bx ec-new","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"private key(hex)","x":620,"y":260,"wires":[["2f7ceb33.222404","94a95402.1d5a"],[],[]]},{"id":"512205c8.e313bc","type":"debug","z":"2835254b.2c4432","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":380,"wires":[]},{"id":"da11286e.9168c8","type":"inject","z":"2835254b.2c4432","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"RNG","payload":"start","payloadType":"str","x":120,"y":280,"wires":[["a2c96174.a4f39"]]},{"id":"2f7ceb33.222404","type":"exec","z":"2835254b.2c4432","command":"bx ec-to-wif -u","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"WIF(uncompressed)","x":920,"y":260,"wires":[["512205c8.e313bc"],[],[]]},{"id":"f1192d25.3b3f68","type":"change","z":"2835254b.2c4432","name":"inject version","rules":[{"t":"set","p":"version","pt":"msg","to":"80","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":520,"wires":[["50fd86c8.dd346"]]},{"id":"323d0eb.94eec72","type":"comment","z":"2835254b.2c4432","name":"calculate checksum","info":"Grap the payload and calculate the checksum, then add it as a key to the message object.","x":850,"y":400,"wires":[]},{"id":"201d4c47.c5ddf4","type":"exec","z":"2835254b.2c4432","command":"bx sha256","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sha256","x":830,"y":480,"wires":[["23758c50.79d10c"],[],[]]},{"id":"23758c50.79d10c","type":"exec","z":"2835254b.2c4432","command":"bx sha256","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sha256","x":830,"y":540,"wires":[["822c9189.59a558"],[],[]]},{"id":"822c9189.59a558","type":"change","z":"2835254b.2c4432","name":"first 4 bytes","rules":[{"t":"set","p":"checksum","pt":"msg","to":"$substring(msg.payload, 0, 8)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":600,"wires":[["a5006f04.e02608"]]},{"id":"50fd86c8.dd346","type":"change","z":"2835254b.2c4432","name":"append version","rules":[{"t":"set","p":"raw_data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"msg.version & msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":580,"wires":[["201d4c47.c5ddf4"]]},{"id":"c29f4fe9.ff65a","type":"exec","z":"2835254b.2c4432","command":"bx base58-encode","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"base58 encode","x":1100,"y":700,"wires":[["785a27d2.f2168"],[],[]]},{"id":"a5006f04.e02608","type":"change","z":"2835254b.2c4432","name":"join data","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([msg.version, msg.raw_data, msg.checksum])\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":580,"wires":[["c29f4fe9.ff65a"]]},{"id":"94a95402.1d5a","type":"change","z":"2835254b.2c4432","name":"trim","rules":[{"t":"set","p":"payload","pt":"msg","to":"$trim(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":460,"wires":[["f1192d25.3b3f68"]]},{"id":"785a27d2.f2168","type":"debug","z":"2835254b.2c4432","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":440,"wires":[]},{"id":"afa5597e.e9eda","type":"comment","z":"2835254b.2c4432","name":"use bx to encode key in Wallet Import Format","info":"","x":950,"y":180,"wires":[]},{"id":"f93dc597.0da368","type":"comment","z":"2835254b.2c4432","name":"private key from seed","info":"If seed is the same, private key is the same!!\n","x":640,"y":180,"wires":[]},{"id":"9408dd9c.e733d8","type":"comment","z":"2835254b.2c4432","name":"2 WIFs should be the same","info":"Checkout the debug part","x":1290,"y":340,"wires":[]},{"id":"75e4341f.416d84","type":"comment","z":"2835254b.2c4432","name":"remove trailing \\n","info":"","x":410,"y":460,"wires":[]},{"id":"60f65bf6.4e46ec","type":"comment","z":"2835254b.2c4432","name":"0x80 is the version for private key WIF","info":"","x":470,"y":520,"wires":[]},{"id":"db640860.01b518","type":"comment","z":"2835254b.2c4432","name":"concatenate parts","info":"Checkout the debug part","x":1090,"y":540,"wires":[]},{"id":"975b22dd.467488","type":"comment","z":"2835254b.2c4432","name":"encode with base58","info":"Base58 is a subset of Base64, some characters like 0 and O are ommited. ","x":1090,"y":640,"wires":[]},{"id":"7d73747d.6b0d04","type":"comment","z":"2835254b.2c4432","name":"use our nodes to get WIF format ...","info":"","x":420,"y":360,"wires":[]},{"id":"53a6e703.c6e4b","type":"lower-case","z":"a20e4da9.6b8ed","name":"","x":530,"y":120,"wires":[["1e9ec869.2a913"]]},{"id":"53e7997.de266e8","type":"inject","z":"a20e4da9.6b8ed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"low","payload":"THIS is SPARTA","payloadType":"str","x":290,"y":120,"wires":[["53a6e703.c6e4b"]]},{"id":"1e9ec869.2a913","type":"debug","z":"a20e4da9.6b8ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"a7346af.9d77618","type":"seed","z":"a20e4da9.6b8ed","name":"","length":"192","x":490,"y":200,"wires":[["1e9ec869.2a913"]]},{"id":"9cfb8830.52664","type":"seed","z":"a20e4da9.6b8ed","name":"","length":"1024","x":510,"y":260,"wires":[["1e9ec869.2a913"]]},{"id":"faca1b01.2ece1","type":"seed","z":"a20e4da9.6b8ed","name":"","length":"128","x":489,"y":304,"wires":[["1e9ec869.2a913"]]},{"id":"452caf22.970d18","type":"seed","z":"a20e4da9.6b8ed","name":"","length":"199","x":490,"y":360,"wires":[["1e9ec869.2a913"]]},{"id":"c85c0da0.c726d","type":"seed","z":"a20e4da9.6b8ed","name":"","length":"","x":510,"y":420,"wires":[["1e9ec869.2a913"]]},{"id":"9ae62d40.f85cd","type":"comment","z":"a20e4da9.6b8ed","name":"example node","info":"","x":350,"y":60,"wires":[]},{"id":"8bae9ff6.babed","type":"comment","z":"a20e4da9.6b8ed","name":"default bit length","info":"","x":300,"y":200,"wires":[]},{"id":"6657dbc5.407224","type":"comment","z":"a20e4da9.6b8ed","name":"1024 bits","info":"","x":280,"y":260,"wires":[]},{"id":"c96bf7d4.bba408","type":"comment","z":"a20e4da9.6b8ed","name":"128 bits","info":"","x":270,"y":300,"wires":[]},{"id":"e24e4fb5.8d8e48","type":"comment","z":"a20e4da9.6b8ed","name":"199bits (should fail)","info":"","x":270,"y":360,"wires":[]},{"id":"ec729985.e0f56","type":"comment","z":"a20e4da9.6b8ed","name":"non valid type (e.g. string) put in config","info":"","x":250,"y":420,"wires":[]},{"id":"d6cc8284.546ca8","type":"comment","z":"a20e4da9.6b8ed","name":"observe error handling in debug window","info":"","x":820,"y":380,"wires":[]}]