data/flows.json
[{"id":"e6872236.0138","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b3243087.384bf","type":"inject","z":"e6872236.0138","name":"get env variable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TZ","payloadType":"env","x":350,"y":280,"wires":[["256d9114.52034e"]]},{"id":"256d9114.52034e","type":"debug","z":"e6872236.0138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"695cb129.2aff6","type":"inject","z":"e6872236.0138","name":"test bx","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"msg","x":290,"y":380,"wires":[["6dbe945b.2fb32c"]]},{"id":"6dbe945b.2fb32c","type":"exec","z":"e6872236.0138","command":"bx seed","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":380,"wires":[["256d9114.52034e","a306399c.244658"],[],[]]},{"id":"a306399c.244658","type":"exec","z":"e6872236.0138","command":"bx ec-new","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":380,"wires":[["256d9114.52034e"],[],[]]}]